.header_home {
  background-image: url('../../assets/images/img_home_mobile.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.header_home_title,
.header_home_title2 {
  display: none;
}

.search_home_container {
  display: none;
}

.home_search_prod_by_date input {
text-align: center;
}

.home_search_prod_by_date p {
  display: block;
  margin-bottom: 0.1rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 7rem;
  text-align: center;
}

.search_product {
  width: 220px;
  background-color: rgba(66, 65, 65, 0.44);
  color: white;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px; 
  transition: 0.3s;
}
.search_product:hover {
  background-color: rgba(237, 235, 235, 0.652) !important;
  color: rgba(66, 65, 65) !important;
  border: 2px solid rgba(252, 252, 252, 0.512) !important;
}

.img_home_mobile {
  top: -2rem;
  padding: 0;
}

.home h2 {
  margin: 2rem auto;
  text-align: center;
  font-weight: 700;
}

.home_infos_one {
  background-image: url('../../assets/images/img_home_mobile_info1.jpg');
  height: 100vh;
  /*filter: brightness(80%);*/
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 1000px;
}

.home_infos_one div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.home_infos_one div img {
  width: 100px;
}

.home_infos_one span {
  font-size: 1.8rem;
  font-weight: bold;
}

.home_infos_one h2 {
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
}

.full_skieur {
  display: none;
}

.img_mountain {
  width: 100%;
  min-height: 500px;

}

.home_infos_two_description1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 2rem;
}

.home_infos_two_description1 h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.home_infos_two_description2 {
  display: none;
  margin-bottom: 5rem;
}


@media (min-width: 765px) {
  .header_home {
    background-image: url('../../assets/images/mountain_man.png');
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5rem;
  }

  .search_product {
    display: none;
  }

  .header_home_title {
    display: block;
    text-align: right;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 16rem;
  }

  .header_home_title2 {
    display: block;
    text-align: right;
    color: white;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .search_home_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .search_home_container .home_error_message{
    width: 40%;
    margin-right: 30rem;
    position: relative;
    bottom: 2.5rem;
    text-align: end;
    color: red;
  }
  .home_search_prod_by_date p {
    display: block;
    margin-bottom: 0.1rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 7rem;
  }

  .home_search_prod_by_date {
    top: 10rem;
    left: 3rem;
    width: 90%;
    min-width: 650px;
    max-width: 800px;
    min-height: 10rem;
    max-height: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.722);
    padding: 2rem 3rem;
    border-radius: 50px;
    margin-top: 6rem;
  }

  .home_search_prod_by_date div {
    width: 150px;
    margin-right: 0.5rem;
    border-radius: 20px;
  }

  .home_search_prod_by_date .div_button {
   display: flex;
   justify-content: center;
   align-items: center;
  }

  .home_search_prod_by_date input {
    width: 150px;
    border: 0;
    height: 3rem;
    border: 1px solid #0D83AB;
    border-radius: 5px;
  }
  .home_search_prod_by_date div p {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .home_search_prod_by_date button {
    padding: 0;
    height: 3.5rem;
    width: 150px;
    align-self: center;
    background-color: #0D83AB;
    color: white;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
  }

  .home_products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .home_products h2 {
    width: 100%;
    font-size: 4rem;
    margin: 3rem;
  }

  .home .card_product {

    margin: 1rem;
    padding: 1rem;
  }

  /* ----- SECTION SERVICE -----  */
.homeService{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.homeService .container, .homeService h3{
  z-index: 10;
}
.bg-img-fixed{
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/images/ski2.png');
  background-attachment: fixed;
  position: relative;
}
.homeService h3 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.homeService h4{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.bg-img-fixed span{
  content: '';
  position: absolute;
  background-color: #081b2f;
  top: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  overflow: hidden;
  opacity: .5;
}
.homeService img{
    width: 10rem;
    margin-bottom: 2rem !important;
}
/* ------------------ */

  .full_skieur {
    display: block;
    width: 100%;
  }

  .home_infos_two_description1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .home_infos_two_description1 div {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  }

  .home_infos_two_description1 div h3 {
    text-align: center;
  }

  .home_infos_two_description1 img {
    width: 40%;
  }

  .home_infos_two_description1 h3,
  .home_infos_two_description1 p {
    text-align: left;
  }

  .home_infos_two_description2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    padding: 0;
  }

  .home_infos_two_description2_left {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .home_infos_two_description2_left div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .home_infos_two_description2_left {
    width: 40%;
    height: 90%;
  }
  .img_mountain_info img{
    max-height: 50vh;
    object-fit: cover;
  }

  .home_infos_two_description2_right {
    width: 35%;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }

  .home_infos_two_description2_right div {
    width: 100%;
  }

  .home_infos_two_description2_right img {
    width: 100%;
  }

  .img_mountain {
    display: none;
  }

}