@media screen and (max-width: 576px){ /* version mobile */
  .cardContainerMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    padding: 2rem;
    box-shadow: 5px 5px 5px #9dbcd3;
  }

  .cardLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgProduct{
    width: 10rem;
    height: 10rem;
    border: solid #9dbcd3;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 0.1rem;
  }

  .qtyProduct{
    display: flex;
    flex-direction: row;
  }

  .cardRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }

  .priceProduct{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardContainerDesktop{
    display: none;
  }
}

@media screen and (min-width: 768px){ /* version desktop */
  .cardContainerMobile {
    display: none;
  }

  .cardContainerDesktop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 3rem auto 3rem auto;
    padding: 2rem;
    box-shadow: 5px 5px 5px #9dbcd3;
    width: 50%;
  }

  .imgProduct{
    width: 10rem;
    height: 10rem;
    border: solid #9dbcd3;
    border-radius: 50%;
    padding: 0.1rem;
  }

}