.titleResetPassword{
    font-size: 3rem;
    max-width: 80rem;
}

.displayNone{
    display: none;
}
.eyeError {
    position: absolute;
    right: 0;
    width: 4rem;
    bottom: 0.4rem;
  }
.eye {
    position: absolute;
    right: 0;
    width: 4rem;
    bottom: 0.4rem;
  }
  
.eyeError2 {
    position: absolute;
    right: 0;
    width: 4rem;
    bottom: 0.4rem;
  }
.eye2 {
    position: absolute;
    right: 0;
    width: 4rem;
    bottom: 0.4rem;
  }
  .bottom{
    bottom: 2.6rem;
  }
  