name: jest-and-docker-ci

on: push

jobs:
  test-front:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x] 

    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Setup node-version ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Run tests
        run: rm -rf node_modules package-lock.json && npm cache clean --force && npm cache verify && npm i && npm test
  
  docker:
    needs: test-front
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: "{{defaultContext}}:client"
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/wildrent-front:latest